<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectmad.th">

    <application
        android:allowBackup="true"
        android:icon="@drawable/management"
        android:label="@string/app_name"
        android:roundIcon="@drawable/management"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".ScheduleCreate"
            android:parentActivityName=".Scheduler" />
        <activity
            android:name=".NoteCreate"
            android:parentActivityName=".Note" />
        <activity
            android:name=".StudentRegisteration"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".Scheduler"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".ResultActivity"
            android:parentActivityName=".Cgpa" />
        <activity
            android:name=".Note"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".EditStudent"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".Cgpa"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".Attendance"
            android:parentActivityName=".AppBase" />
        <activity
            android:name=".about"
            android:parentActivityName=".AppBase" />
        <activity android:name=".AppBase"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>